* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content:center;
    justify-content:space-around;
    background-color: antiquewhite;
    padding: 5px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    position: sticky;
    top: 0%;
    margin: 10px;
}
nav img {
    border-radius: 5px;
}
ul {
    display: flex;
    column-gap: 100px;
    align-items: center;
    list-style: none;
    font-size: x-large;
}
li a {
    text-decoration: none;
    color: rgb(6, 74, 161);
    font-family: sans-serif;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: brown;
}
.container {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 50px;
    align-items: baseline;
    justify-items: center;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 5px;
}
div.item {
    margin: 5px;
}
img.item1 {
    border-radius: 5px;
}
main {
    font-size: larger;
}
footer {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: larger;
    background-color: bisque;
    margin: 10px;
    padding: 5px;
    

}
